name: Android CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'recursive'

    - name: set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: build app
      run: bash build_app.sh

    - name: print list tree
      run: ls -R build

    #签名giant explorer
    - uses: noriban/sign-android-release@v3
      name: Sign giant explorer app APK
      # ID used to access action output
      id: sign_giant_explorer_app
      with:
        releaseDirectory: build/GiantExplorer
        signingKeyBase64: ${{ secrets.SIGNING_KEY }}
        alias: ${{ secrets.ALIAS }}
        keyStorePassword: ${{ secrets.STORE_PASSWORD }}
        keyPassword: ${{ secrets.KEY_PASSWORD }}
      env:
        # override default build-tools version (29.0.3) -- optional
        BUILD_TOOLS_VERSION: "33.0.1"

    # Example use of `signedReleaseFile` output -- not needed
    - uses: actions/upload-artifact@v3
      with:
        name: Signed app bundle
        path: |
          ${{steps.sign_giant_explorer_app.outputs.signedReleaseFile}}
